---
import { Icon } from "astro-icon/components";
---

<div class="switch" transition:persist="theme-switch">
    <Icon name="mdi:language-javascript" title="Theme switching needs JS to be enabled." data-theme-ph class="icon-15em" />
    <Icon name="mdi:white-balance-sunny" title="Switch to dark theme" data-theme-sun class="icon-15em" />
    <Icon name="mdi:weather-night" title="Switch to light theme" data-theme-moon class="icon-15em" />
</div>

<script>
    // Get and delete placeholder (JS is enabled)
    const placeHolder = document.querySelectorAll("[data-theme-ph]");
    placeHolder.forEach(e => e.remove());

    const moons = document.querySelectorAll("[data-theme-moon]");
    const suns = document.querySelectorAll("[data-theme-sun]");

    const current = document.documentElement.attributes.getNamedItem('data-theme')?.value ?? "dark";

    if (current === "dark") {
        moons.forEach(m => m.classList.add("selected"));
    } else {
        suns.forEach(s => s.classList.add("selected"));
    }

    const switchThemeDark = () => {
        document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }));
        moons.forEach(m => m.classList.remove("fadeOut", "fadeOutDone"));
        moons.forEach(m => m.classList.add("fadeIn"));
        setTimeout(() => moons.forEach(m => {
            m.classList.add("fadeInDone");
            m.classList.remove("fadeIn");
        }), 250); // After 0.2s animation is completed
        suns.forEach(s => s.classList.remove("fadeIn", "fadeInDone"));
        suns.forEach(s => s.classList.add("fadeOut"));
        setTimeout(() => suns.forEach(s => {
            s.classList.add("fadeOutDone");
            s.classList.remove("fadeOut");
        }), 250); // After 0.2s animation is completed
    }

    const switchThemeLight = () => {
        document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }));
        moons.forEach(m => m.classList.remove("fadeIn", "fadeInDone"));
        moons.forEach(m => m.classList.add("fadeOut"));
        setTimeout(() => moons.forEach(m => {
            m.classList.add("fadeOutDone");
            m.classList.remove("fadeOut");
        }), 250); // After 0.2s animation is completed
        suns.forEach(s => s.classList.remove("fadeOut", "fadeOutDone"));
        suns.forEach(s => s.classList.add("fadeIn"));
        setTimeout(() => suns.forEach(s => {
            s.classList.add("fadeInDone");
            s.classList.remove("fadeIn");
        }), 250); // After 0.2s animation is completed
    }

    moons.forEach(m => m.addEventListener("click", switchThemeLight));
    suns.forEach(s => s.addEventListener("click", switchThemeDark));
</script>
<style lang="scss">
    .switch {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;

    & > * {
        position: absolute;
        opacity: 0;
        transform: translate(0, 100%);
    }

    & > .selected {
        opacity: 1;
        transform: translate(0, 0);
    }

    .fadeOut {
        animation: fadeOut 0.2s ease-in-out;
        animation-fill-mode: forwards;
    }

    .fadeOutDone {
        opacity: 0;
        transform: translate(0, -100%);
    }

    .fadeIn {
        animation: fadeIn 0.2s ease-in-out;
        animation-fill-mode: forwards;
    }

    .fadeInDone {
        opacity: 1;
        transform: translate(0, 0);
    }

    .placeHolder {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(0, -100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 100%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
</style>