#blogBody {
    background: var(--blog_back-background);
    color: var(--blog_color);
    padding-bottom: 20px;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    header {
        position: sticky;
        top: 10px;
        z-index: 99;
    }

    main, footer {
        max-width: 950px;
        border: 1px solid var(--blog_content-border);
        background: var(--blog_content-background);
        backdrop-filter: blur(var(--blog_content-blur));
    }
  
    main {
        
        margin: 40px auto 0;
        padding: 50px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;

        h1 {
            margin-top: 0;
        }
    }

    footer {
        margin: 5px auto 0;
        padding: 20px;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}
