.container {

    header {
        position: sticky;
        top: 10px;
    }

    main {
        max-width: 900px;
        margin: 0 auto;
    }
}

.contentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}