.container {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 2;
    font-size: 1.25rem;
    font-family: "CascadiaCode", monospace;
}

.line {
    padding: 3px 0;
}