.container {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 2;
    font-size: 1.25rem;
    font-family: "CascadiaCode", monospace;
}

.line {
    padding: 3px 0;
    white-space: pre-wrap;
    font-family: inherit;
    display: block;
    margin: 0;
}

.line a:link, .line a:visited, .line a:hover, .line a:active {
    color: inherit;
    text-decoration: underline;
}

.line a::after {
    content: "⤤";
    color: var(--repl-color);
    font-size: 80%;
    text-decoration: none;
}

.line .cmd {
    cursor: pointer;
    text-decoration: underline dotted;
}

.line .cmd::before {content: "'"}
.line .cmd::after {content: "'"}