.container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.container::-webkit-scrollbar {
    width:auto;
}

.container::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
}

.container::-webkit-scrollbar-thumb {
    background: var(--repl_color);
}