.modal {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
    --modal-gray: #0e0f0e;
}

.modalContainer {
    background: var(--modal-gray, #0e0f0e);
    color: #ccc;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    position: relative;
    clear: none;
}

.modalText {
    max-width: 45em;
    margin: 0 auto;
}


.modalClose {
    box-shadow: #000 2px 2px 2px;
    border: 1px solid #ccc;

    background: var(--modal-gray, #0e0f0e);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-family: sans-serif;
    z-index: 100;
}

/* Non-mobile positioning */
@media all and (min-width: 1050px) {
    .modalClose {
        position: relative;
        float: right;
        margin-top: -3em;
        margin-bottom: 1em;
    }
}
/* Else */
@media not all and (min-width: 1050px) {
        .modalClose {
        position: absolute;
        float: none;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.modalCloseAlign {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #fff;
    text-decoration: none;
}

/* Firefox */
.modalContainer {
    scrollbar-width: auto;
    scrollbar-color: var(--repl_color, #188a18) var(--modal-gray, #0e0f0e);
}

/* Chrome, Edge, and Safari */
.modalContainer::-webkit-scrollbar {
    width: 16px;
}

.modalContainer::-webkit-scrollbar-track {
    background: var(--modal-gray, #0e0f0e);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.modalContainer::-webkit-scrollbar-thumb {
    background-color: var(--repl_color, #188a18);
    border-radius: 20px;
    border: none;
}

.pageSelector {
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content 1fr;
    font-family: sans-serif;
}

.pageSelector:last-of-type {
    margin-top: 10px;
}

.pageSelector select {
    background: var(--modal-gray); /* Transparent does not work for the dropdown */
    color: var(--repl_color-link);
    font-size: 1rem;
}

.pageSelector a:link, .pageSelector a:visited, .pageSelector a:hover, .pageSelector a:active {
    color: var(--repl_color-link);
    text-decoration: none;
}

.pageSelector a:hover {
    text-decoration: underline;
}

.leftSelectSpace {
    justify-self: right;
}

.rightSelectSpace {
    justify-self: left;
}


/* On mobile we only want to show the html select */
@media all and (max-width: 500px) {
    .leftSelectSpace, .rightSelectSpace, .pageSelector span {
        display: none;
    }
    .pageSelector select {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .pageSelector {
        display: block;
    }
}

.fakeLink {
    color: var(--repl_color-link);
    text-decoration: none;
    cursor: pointer;
}

.fakeLink:hover {
    text-decoration: underline;
}