@font-face {
  font-family: CascadiaCode;
  src: url(fonts/CascadiaCode.woff2);
}

* {
  box-sizing: border-box !important;
}

:root {  
  --repl-color: rgb(24, 138, 24);
  --repl-color-link: rgb(31, 179, 31);
  --repl-color-hint: rgba(24, 138, 24, 0.3);
}

body {
  margin: 0;
  padding: 0;
  color: var(--repl-color);
  background: #000;
}
