@font-face {
  font-family: CascadiaCode;
  src: url(fonts/CascadiaCode.woff2);
}

* {
  box-sizing: border-box;
  --repl-color: #188a18;
  --repl-color-link: #2ac02a;
  --repl-color-hint: #092909;
}

body {
  margin: 0;
  padding: 0;
  color: var(--repl-color);
  background: #000;
}